<h1>Editing Section</h1>

<br/>

<%= form_with(model: @section, url: course_section_path(@section), method: "patch", local: true) do |form| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% @section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <br/>

  <div class="field">
    <% form.label :section_id %>
    <%= form.number_field :section_id, class:"form-control", placeholder:"Section Id" %>
  </div>

  <br/>

  <div class="field">
    <% form.label :section_number %>
    <%= form.number_field :section_number, class:"form-control", placeholder:"Section Number" %>
  </div>

  <%= form.hidden_field :course_id %>

  <br/>

  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>

<br/>

<%= link_to 'Show', course_section_path %> |
<%= link_to 'Back', course_sections_path %>
