<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @section.section_id %>
</p>

<p>
  <strong>Section number:</strong>
  <%= @section.section_number %>
</p>

<%= link_to 'Lessons', course_section_lessons_path(:section_id => @section.id) %> |
<%= link_to 'Add Lesson', new_course_section_lesson_path(:section_id => @section.id) %> |
<%= link_to 'Edit', edit_course_section_path %> |
<%= link_to 'Back', course_sections_path %>
