<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lesson</th>
      <th>Lesson number</th>
      <th>Lesson text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= lesson.lesson_id %></td>
        <td><%= lesson.lesson_number %></td>
        <td><%= lesson.lesson_text %></td>
        <td><%= link_to 'Show', course_section_lesson_path(lesson.section, :id => lesson) %></td>
        <td><%= link_to 'Edit', edit_course_section_lesson_path(lesson.section, :id => lesson) %></td>
        <td><%= link_to 'Destroy', course_section_lesson_path(lesson.section, :id => lesson), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_course_section_lesson_path %>
