<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @lesson.lesson_id %>
</p>

<p>
  <strong>Lesson number:</strong>
  <%= @lesson.lesson_number %>
</p>

<p>
  <strong>Lesson text:</strong>
  <%= @lesson.lesson_text %>
</p>

<%= link_to 'Edit', edit_course_section_lesson_path %> |
<%= link_to 'Back', course_section_lessons_path %>
