<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<br/>
<div class="p-5 mb-4 bg-light rounded-3">
<div class="container-fluid py-5"> 
<div class="container horizontal-scrollable">
<div class="row"> 
<% @courses.each do |course| %>
<div class="col">
<div class="card card text-white bg-primary" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= course.name %></h5>
    <p class="card-text"><%= course.description %></p>
    <a href="/courses/<%= course.id %>" class="stretched-link"></a>
  </div>
</div>
<br/>
</div>
<% end %>
</div>
</div>

<br>

<%= link_to 'New Course', new_course_path, class:"btn btn-success" %>
</div>
</div>
