<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @course.course_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Add Section', new_course_section_path(@course.id) %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', courses_path %>
